.DS_Store
._.DS_Store
screenlog.*
*.pyc
*.o
*.so
dev/
t/
figures/
dist/
build/
tests/data/*flat
tests/data/*gdx
tests/data/*.db
tests/data/*.2bit
tests/data/*.uni
tests/data/*.png
tests/data/*.log
tests/data/*.fna
tests/data/*.txt
tests/data/temp_read_files/
tests/data/TEST*
tests/data/renamed/
tmp/
*_OLD/
*_OLD
*.egg-info/
*.eggs/
.pytest_*
__pycache__

